.barbers {
    background-color: var(--bgLG);
    max-width: 480px;

    @include tablet {
        max-width: 768px;
    }

    @include pc {
        max-width: 1600px;
    }
}

.barbers__container{
    @include tablet {
        padding: 0 159px;
    }

    @include pc {
        padding: 0 15px;
    }
}

.barbers__title {
    @include font (700, 42, 49, 0.05);
    color: var(--primaryElem);
    margin-bottom: var(--componentGap);

    @include miniMobile {
        font-size: 8.75vw;
    }
}

.barbers__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;

    @include pc {
        flex-direction: row;
        justify-content: space-between;
        gap: var(--cardGap);
    }
}

.barbers__item {
    @include pc {
        width: calc((100% - (var(--cardGap) * 2)) / 3);
    }
}

.barbers__card-img {
    margin-bottom: var(--cardGap);
    width: 100%;
}

.barbers__description {
    @include flex;
    flex-direction: column;
}

.barbers__sub-title {
    @include font (400, 18, 25, 0.02);
    color: var(--primaryElem);
    font-family: "Open Sans",sans-serif;
    margin-bottom: 8px;
}

.barbers__text {
    @include font (400, 14, 19, 0.02);
    color: var(--accentColor);
    margin-bottom: var(--cardGap);
}