.benefits__container {
    display: flex;
    flex-direction: column;

    @include pc {
        flex-direction: row-reverse;
        gap: var(--cardGap);
    }
}

.benefits__content {
    @include tablet {
        width: 500px;
    }
}

.benefits__pre-title {
    @include pc {
        margin-top: 9px;
    }
}

.benefits__title {
    @include font (700, 42, 49, 0.05);
    color: var(--primaryElem);
    margin-bottom: var(--textGap);

    @include miniMobile {
        font-size: 8.75vw;
    }

    @include tablet {
        width: 450px;
    }
}

.benefits__after-title {
    @include font (400, 18, 30, 0.02);
    margin-bottom: var(--componentGap);
    color: var(--primaryText);
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;

    @include tablet {
        width: 450px;
        margin-left: auto;
    }
    
    @include pc {
        width: calc((100% - var(--cardGap))/2);
        margin-left: 0;
        padding: 0 100px;
    }
}

.benefits__item {
    @include flex;
    flex-direction: column;
    width: calc((100% - var(--cardGap))/2);
    height: 133px;
    background-color: var(--bgLG);
    padding: 20px 35px;

    &:nth-child(even) {
        margin-top: var(--cardGap);
    }
    
    &:nth-child(odd) {
        margin-right: var(--cardGap);
    }
}

.benefits__item-top {
    display: flex;
    span {
        @include font (700, 42, 57, 0.05);
        color: var(--primaryElem);

        @include miniMobile {
            font-size: 8.75vw;
        }
        }

    sup {
        @include font (600, 16, 22, 0.05);
        color: var(--accentColor);
        max-width: 12px;
        margin: 15px 0 0 3px;
    }
}

.benefits__item-text {
    @include font (600, 11, 15, 0);
    color: var(--primaryElem);
    text-align: center;
}