.contact-wrap {
    background-color: var(--bgG);
    background-image: url('../img/contBG.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    margin: 0 auto;
    max-width: 480px;
    
    @media (min-resolution: 192dpi) {
        background-image: url('../img/contBG@2x.png');
    }

    @include tablet {
        max-width: 768px;
        background-image: url('../img/contBGT.png');
        background-size: 100%;

        @media (min-resolution: 192dpi) {
            background-image: url('../img/contBGT@2x.png');
            // background-size: cover;
        }
    }

    @include pc {
        max-width: 1600px;
        background-position: right;
        background-size: calc((100% - var(--cardGap)) / 2) 100%;

        background-image: url('../img/contBGPC.png');
        // background-size: cover;

        @media (min-resolution: 192dpi) {
            background-image: url('../img/contBGPC@2x.png');
            // background-size: cover;
        }
    }

    .container {
        @include pc {
            display: flex;
            gap: var(--cardGap);
            }
    
    }
}