.contact-wrap {
    background-color: var(--bgG);
    background-image: url('../img/contBG.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin: 0 auto;

    @include mobile {
        max-width: 480px;
    }

    @include tablet {
        max-width: 768px;
    }

    @include pc {
        max-width: 1200px;
    }

    @media (min-resolution: 192dpi) {
        background-image: url('../img/contBG@2x.png');
    }

    @include tablet {
        max-width: 768px;
        background-image: url('../img/contBGT.png');
        background-size: cover;

        @media (min-resolution: 192dpi) {
            background-image: url('../img/contBGT@2x.png');
            // background-size: cover;
        }
    }

    @include pc {
        max-width: 1600px;
        max-height: 600px;
        padding: 200px 0;

        background-image: url('../img/contBGPC.png');
        // background-size: cover;

        @media (min-resolution: 192dpi) {
            background-image: url('../img/contBGPC@2x.png');
            // background-size: cover;
        }
    }
}