.contacts {
    @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
}
.title {
}
.contacts__title {
    width: 100%;

    @include font (700, 42, 49, 0.05);
    text-align: center;
    color: var(--secondaryTitle);
    margin-bottom: 40px;

    @include miniMobile {
        font-size: 8.75vw;
    }
}
.contacts__address {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--componentGap);

    @include tablet {
        width: calc((100% - var(--cardGap)) / 2);
        padding-right: 30px;
        }
}
.contacts__address-link {
    display: flex;

    @include font (700, 18, 30, 0.02);
    color: var(--secondaryText);
    margin-bottom: var(--textGap);

    @include miniMobile {
        font-size: 3.75vw;
    }
}
.link {
}
.contacts__icon {
    fill: currentColor;
    margin-right: 16px;
}
.icon {
}
.contacts__list {
    display: flex;
    flex-direction: column;
    gap: var(--textGap);
}
.list {
}
.contacts__item {
}
.contacts__link {
    @include font (400, 18, 30, 0.02);
    color: var(--secondaryText);
    display: flex;
    align-items: center;
}

.contacts__link--tel {
    display: flex;
}

.contacts__link--mail {
    text-decoration: underline;
}

.contacts__time{
    @include tablet {
        width: calc((100% - var(--cardGap)) / 2);
    }
}
.contacts__time-title {
    color: var(--secondaryTitle);
    margin-bottom: var(--textGap);

    &::before {
        content: "";
        width: 60px;
        height: 1px;
        background-color: var(--secondaryText);
    }
}
.contacts__time-text {
    @include font (400, 18, 30, 0.02);
    color: var(--secondaryText);
}