.contacts {
    @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }

    @include pc {
        width: calc((100% - var(--cardGap)) / 2);
        padding-left: 100px;
        padding-top: 130px;
        flex-direction: column;
        flex-wrap: nowrap;
        }
}
.contacts__title {
    width: 100%;
    @include font (700, 42, 49, 0.05);
    text-align: center;
    color: var(--secondaryTitle);
    margin-bottom: 40px;

    @include miniMobile {
        font-size: 8.75vw;
    }

    @include pc {
        text-align: start;
        }
}

.contacts__address {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--componentGap);

    @include tablet {
        width: calc((100% - var(--cardGap)) / 2);
        padding-right: 30px;
        }

    @include pc {
        padding-right: 0;
        margin-bottom: 70px;
        }
}

.contacts__address-link {
    display: flex;

    @include font (700, 18, 30, 0.02);
    color: var(--secondaryText);
    margin-bottom: var(--textGap);

    @include miniMobile {
        font-size: 3.75vw;
    }
}

.contacts__icon {
    fill: currentColor;
    margin-right: 16px;
}

.contacts__list {
    display: flex;
    flex-direction: column;
    gap: var(--textGap);
}

.contacts__link {
    @include font (400, 18, 30, 0.02);
    color: var(--secondaryText);
    display: flex;
    align-items: center;
}

.contacts__link--tel {
    display: flex;
}

.contacts__link--mail {
    text-decoration: underline;
}

.contacts__time{
    @include tablet {
        width: calc((100% - var(--cardGap)) / 2);
    }

    @include pc {
        width: 100%;
        }
}

.contacts__time-title {
    color: var(--secondaryTitle);
    margin-bottom: var(--textGap);

    &::before {
        content: "";
        width: 60px;
        height: 1px;
        background-color: var(--secondaryText);
    }
}

.contacts__time-text {
    @include font (400, 18, 30, 0.02);
    color: var(--secondaryText);
}