.gallery {
}
.section {
}
.container {
}
.gallery__pre-title {
    margin-bottom: 71px;
}
.visually-hidden {
    @include visibilityHidden;
}
.gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--cardGap);
}
.list {
}
.gallery__item {
    flex-basis: calc((100% - var(--cardGap)) / 2);
}
.gallery__card-img {
    width: 100%;
}