.gallery__pre-title {
    margin-bottom: 71px;
}

.visually-hidden {
    @include visibilityHidden;
}

.gallery__list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--cardGap);
}

.gallery__item {
    @include tablet {
        flex-basis: calc((100% - var(--cardGap)) / 2);
    }
    
    @include pc {
        flex-basis: calc((100% - (var(--cardGap) * 3)) / 4);
    }
}

.gallery__card-img {
    width: 100%;
}