.header__container {
    position: relative;
    
    @include mobile {
        @include flex(center, space-between);
    }
    
}

.header__logo {
    position: absolute;
    top: 40px;
    z-index: 10;

    @include tablet {
        top: 32px;
        left: 50px;
    }

    @include pc {
        left: 15px;
    }
}

.logo {
    fill: var(--secondaryTitle);

    @include tablet {
        fill: var(--primaryElem)
    }
}

.mobile_menu-btn {
    position: absolute;
    right: 11px;
    top: 28px;
    padding: 20px;
    border: none;
    background: transparent;
    z-index: 10;
    
    @include tablet {
        display: none;
    }
}

.mobile_menu-icon {
    fill: currentColor;
}

.icon-burger {
    color: var(--secondaryTitle);
    fill: currentColor;
}