// .hero {
//     margin: 0 auto;
// 
//     @include mobile {
//         max-width: 480px;
//         // background: var(--bgG);
//     }
// 
//     @include tablet {
//         width: 768px;
//     }
// 
//     @include tablet {
//         width: 1200px;
//     }
// }

.hero__container {
    @include mobile {
        padding: 0;
    }

    @include tablet {
        display: flex;
        justify-content: space-between;
        padding-right: 0;
    }

    @include pc {
        padding-right: 15px;
    }
}

.hero__soc {
    @include mobile {
        display: none;
    }

    display: flex;
    align-items: flex-end;
    max-width: 124px;

    @include pc {
        max-width: 100px;
    }
}
.hero__soc-list {
}
.hero__soc-list  {
    @include tablet {
        transform: rotate(-90deg) translateY(50%);
        transform-origin: bottom left;
        display: flex;
        gap: 40px;
        @include font (600, 11, 15, 0.02);
        color: var(--primaryElem);
        margin-left: 45px;
        margin-bottom: 40px;

        @include pc {
            margin-left: 35px;
        }
    }
}
.list {
}
.hero__soc-item {
    &>span {
        display: flex;
        width: 60px;
        height: 1px;
        background-color: var(--primaryElem);
        margin-top: 7px;
    }
}
.hero__soc-link {
}
.link {
}
.hero__content {
    background: var(--bgG);
    
    @include mobile {
        padding: 208px 31px 209px 31px;
        // @include flex (none, center);
        // flex-direction: column;
        // height: 580px;
        // max-width: 336px;
    }

    @include tablet {
        padding: 272px 111px 237px 111px;
        flex-grow: 1;
    }

    @include pc {
        padding: 272px 100px 208px 100px;
    }
}
.pre-title--color-light {
}
.hero__title {
    @include font (700, 48, 56, 0.05);
    color: var(--secondaryTitle);
    margin-bottom: var(--textGap);

    @include miniMobile {
        font-size: 10vw;
    }

    @include pc {
        @include font (700, 72, 85, 0.05);
    }
}
.hero__after-title {
    @include font (400, 16, 26, 0.02);
    color: var(--secondaryText);

    @include tablet {
        @include font (400, 18, 30, 0.02);
    }
}
.after-title {

}