.container {
    margin: 0 auto;

    @include mobile {
        max-width: 480px;
        padding: 0 31px 0 31px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        padding: 0 39px 0 39px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
        padding: 0 15px 0 15px;
    }
}
