.header__menu {
    position: absolute;
    top: 40px;
    right: 18px;
    display: flex;
    gap: 46px;
    z-index: 999;

    @include mobile {
        display: none;
    }

    @include pc {
        right: 35px;
        gap: 254px;
    }
}

.header__nav-list {
    display: flex;
    gap: var(--textGap);
    margin-top: 11px;

    @include pc {
        gap: var(--cardGap);
    }
}

.header__nav-list-link {
    @include font (600, 12, 16, 0.1);
    color: var(--secondaryTitle);
    padding: 15px 0;
}

.header__contacts {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--textGap);

    @include pc {
        gap: 40px;
        flex-direction: row;
    }
}

.header__tel {
    @include font (600, 12, 16, 0.1);
    color: var(--secondaryTitle);
}