.header__menu {
    position: absolute;
    top: 40px;
    right: 18px;
    display: flex;
    gap: 46px;

    @include mobile {
        display: none;
    }

    @include pc {
        right: 35px;
        gap: 254px;
    }
}
.header__nav {
}
.header__nav-list {
    display: flex;
    gap: var(--textGap);
    margin-top: 11px;

    @include pc {
        gap: var(--cardGap);
    }
}
.header__nav-list {
}
.list {
}
.header__nav-item {
}
.header__nav-list-link {
    @include font (600, 12, 16, 0.1);
    color: var(--secondaryTitle);
}
.link {
}
.header__contacts {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--textGap);

    @include pc {
        gap: 40px;
        flex-direction: row;
    }
}
.header__tel {
    @include font (600, 12, 16, 0.1);
    color: var(--secondaryTitle);
}
.primary-btn {
}
.primary-btn--header {
}
.btn {
}
.header__soc-list {
}
.soc-list {
}
.header__soc-item--instagram {
}
.header__soc-item {
}
.header__soc-link {
}
.header__soc-item--youtube {
}