.swiper {
    max-width: 480px;

    @include tablet {
        max-width: 605px;
    }

    @include pc {
        max-width: 1070px;
    }
}

.button-prev,
.button-next {
    width: 60px;
    height: 24px;
    @include font (600, 11, 15, 0.1);
    color: rgba(157, 164, 189, 0.6);
    border-bottom: solid 1px rgba(157, 164, 189, 0.6);
    margin-left: 50px;
    display: inline-block;
    background-color: transparent;
    position: absolute;
    z-index: 2;
    cursor: pointer;

    @include mobile {
        display: none;
    }
}

.button-prev {
    right: 104px;
    bottom: 40px;
}
.button-next {
    right: 20px;
    bottom: 40px;
    text-align: end;
}