body {
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-family: 'Raleway', sans-serif;
}

.section {
    margin: 0 auto;
    padding: 84px 0;
}

.btn {
    cursor: pointer;
    font-family: inherit;
}

.icon {
    transition: color var(--duration) var(--cubic);
}

.link:hover,
.link:focus,
.btn:hover,
.btn:focus,
.icon:hover,
.icon:focus {
    color: var(--accentColor);
}


