body {
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-family: 'Raleway', sans-serif;
}

.section {
    margin: 0 auto;
    padding: 84px 0;

    @include tablet {
        padding: 100px 0;
    }

    @include pc {
        padding: 120px 0;
    }
}

.btn {
    cursor: pointer;
    font-family: inherit;
}

.icon,
.link,
.btn {
    transition: color var(--duration) var(--cubic),
    background-color var(--duration) var(--cubic);
}

.link:hover,
.link:focus,
.btn:hover,
.btn:focus,
.icon:hover,
.icon:focus {
    color: var(--accentColor);
}


