:root {
    --primaryTitle: #212121;
    --secondaryTitle: #FFFFFF;
    --primaryText: #555555;
    --secondaryText: #9DA4BD;
    --primaryElem: #303030;
    --accentColor: #FF6C00;
    --bgW: #FFFFFF;
    --bgG: #191C26;
    --bgLG: #F7F7F7;
    --serviceBG: #111319;
    --logoBlack: #000000;
    --iconG: #AFB1B8;
    --cardGap: 30px;
    --textGap: 20px;
    --componentGap: 44px;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --duration: 250ms
}